@page "/searchpage"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using OnlineArtGallery.Domain
@using OnlineArtGallery.Data
@inject IDbContextFactory<OnlineArtGallery.Data.OnlineArtGalleryContext> DbFactory
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="w3-padding w3-xlarge w3-teal">
        <h1>Search</h1>
    <i class="fa fa-search"></i>
  </div>


<QuickGrid Class="table" Items="filteredArtwork">

    <TemplateColumn Context="artwork">
        <img src="@artwork.ImagePath" id="image" height="150px" width="150px" />
    </TemplateColumn>

    <PropertyColumn Property="artwork => artwork.Name" Sortable="true">
        <ColumnOptions>
            <div>
                <input type="search" @bind="searchText" @bind:event="oninput" autofocus />
            </div>
        </ColumnOptions>
    </PropertyColumn>

    <PropertyColumn Property="artwork => artwork.Description"/>
    <PropertyColumn Property="artwork => artwork.Price"/>
    <PropertyColumn Property="artwork => artwork.DateCreated" />
    <PropertyColumn Property="artwork => artwork.DateUpdated" />
    <PropertyColumn Property="artwork => artwork.CreatedBy" />
    <PropertyColumn Property="artwork => artwork.UpdatedBy" />

    <TemplateColumn Context="artwork">
        <a href="@($"/details?id={artwork.Id}")">Details</a>
    </TemplateColumn>
</QuickGrid>


@code {
    private OnlineArtGalleryContext context = default!;
    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    private string searchText = "";
    private IQueryable<Artwork> filteredArtwork => context.Artwork.Where(c =>
    c.Name.Contains(searchText));
    public async ValueTask DisposeAsync() => await context.DisposeAsync();

}