@page "/users"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using OnlineArtGallery.Domain
@using OnlineArtGallery.Data
@using Microsoft.AspNetCore.Authorization
@implements IAsyncDisposable
@inject IDbContextFactory<OnlineArtGallery.Data.OnlineArtGalleryContext> DbFactory

@attribute [Authorize(Roles = "Administrator, User")]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="users/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.User">
    <PropertyColumn Property="user => user.Name" />
    <PropertyColumn Property="user => user.Email" />
    <PropertyColumn Property="user => user.Address" />
    <PropertyColumn Property="user => user.Contact" />
    <PropertyColumn Property="user => user.Role" />
    <PropertyColumn Property="user => user.DateCreated" />
    <PropertyColumn Property="user => user.DateUpdated" />
    <PropertyColumn Property="user => user.CreatedBy" />
    <PropertyColumn Property="user => user.UpdatedBy" />

    <TemplateColumn Context="user">
        <a href="@($"users/edit?id={user.Id}")">Edit</a> |
        <a href="@($"users/details?id={user.Id}")">Details</a> 
        <AuthorizeView Roles ="Administrator">
            | <a href="@($"users/delete?id={user.Id}")">Delete</a>
        </AuthorizeView>
    </TemplateColumn>
</QuickGrid>

@code {
    private OnlineArtGalleryContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
