@page "/create/edit"
@using Microsoft.EntityFrameworkCore
@using OnlineArtGallery.Domain
@inject IDbContextFactory<OnlineArtGallery.Data.OnlineArtGalleryContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Artwork</h2>
<hr />
@if (Artwork is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Artwork" OnValidSubmit="UpdateArtwork" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Artwork.Id" value="@Artwork.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Artwork.Name" class="form-control" />
                    <ValidationMessage For="() => Artwork.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="Artwork.Description" class="form-control" />
                    <ValidationMessage For="() => Artwork.Description" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <InputNumber id="price" @bind-Value="Artwork.Price" class="form-control" />
                    <ValidationMessage For="() => Artwork.Price" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image:</label>
                    <InputText id="image" @bind-Value="Artwork.Image" class="form-control" />
                    <ValidationMessage For="() => Artwork.Image" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="Artwork.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Artwork.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="Artwork.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => Artwork.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="Artwork.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => Artwork.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="Artwork.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => Artwork.UpdatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/artworks">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Artwork? Artwork { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Artwork ??= await context.Artwork.FirstOrDefaultAsync(m => m.Id == Id);

        if (Artwork is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateArtwork()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Artwork!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ArtworkExists(Artwork!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/create");
    }

    private bool ArtworkExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Artwork.Any(e => e.Id == id);
    }
}
